/* Default styles for larger screens */
.table-container {
    max-width: 100%;
   
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 8px;
    text-align: left;
    white-space: nowrap;
  }
  
  /* Media query for smaller screens (e.g., mobile) */
  @media (max-width: 767px) {
    .table th, .table td {
      font-size: 10px;
    }
  }
  /* Add a CSS class for the description column */
.table-description {
    max-width: 150px; /* Adjust the maximum width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Media query for smaller screens (e.g., mobile) */
  @media (max-width: 767px) {
    .table-description {
      max-width: 100px; /* Adjust the maximum width for smaller screens */
    }
  }
  /* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style the button that toggles the dropdown */
  #dropdown-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    z-index: 1;
  }
  
  /* Style the dropdown options */
  .dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  /* Change the background color of options on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown content when the button is hovered over */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  